.app-container {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}
li a {
  color: white;         
  text-decoration: none;  
}

li a:hover {
  color: white;               
  background-color: #c50b0b;  
}


.sidebar {
  width: 230px;
  background-color: #003366;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.main-content {
  margin-left: 230px; /* deja espacio al costado del sidebar */
  flex: 1;
  padding: 30px;
  background-color: #f8f9fa;
  min-height: 100vh;
  overflow-x: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.logout-section {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px); /* Ajusta el ancho considerando el padding */
}
.logout-btn {
  width: 100%;
  padding: 10px;
  background-color: #cc0000;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}